.btn{
    background-color: rgb(202, 30, 30);
    padding: 0.8rem 1.2rem;
    border: 1px solid red;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(230, 117, 117, 0.274);
    border: 1px solid red;
    color: white;
    transition: 300ms ease-in-out;
}